body {
  width: 96%;
  margin: 20 20;
  background-color: #1a1a1a;
  color: #fcfcfc;
}

ul {
  font-family: "Iceland", sans-serif;
  font-weight: 400;
  font-style: normal;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #1a1a1a;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change the link color to #111 (black) on hover */
li a:hover {
  background-color: #111;
}

a:link {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  background: transparent;
}
  
a:visited {
  color: #6ce8cb;
  text-decoration: none;
  background: transparent;
}
  
a:focus {
  color: #ffffff;
  text-decoration: none;
  background: transparent;
}
  
a:active {
  color: #00ff80;
  text-decoration: none;
  background: transparent;
}

h1 {
  font-family: "Iceland", sans-serif;
  font-weight: 400;
  font-style: normal;
}
