/* Author: Scott Hamilton */


html {
    min-height: 100%;
    background: linear-gradient(0deg, rgba(0, 12, 0, 0.7), rgba(0, 0, 12, 0.7)), url('../images/Hexagons_Physical_06_3.jpg');
    background-size: cover;
}

body {
    font-family: "Iceland", sans-serif;
    color: white;
}
*/

.bga {
    background-image: url("images/Sunset.jpg");
    background-color: rgba(30, 31, 30, .1);
}

.border {
    font-family: "Jura", sans-serif;
    text-align: justify;
    border-style: solid;
    border-color: limegreen;
    border-width: 2px;
    background-color: rgba(18, 20, 18, 1);
    color: white;
    margin: 30px 10px 20px 10px;
    padding: 20px;
}

.nav {
  background-color: rgba(12,12,12,0);
  list-style-type: none;
  text-align: center;
  margin: 0;
  padding: 0;
}

.nav li {
  display: inline-block;
  font-size: 22px;
  margin: 20px;
  padding: 10px;
  vertical-align: middle;
}

.btn {
    font-family: "Iceland", sans-serif;
    border: 1px solid rgb(0, 255, 55);
    color: rgb(234, 254, 254);
    background-image: linear-gradient(rgb(112, 151, 108), rgb(29, 40, 29));
    box-shadow: 0 8px rgba(12,12,12,.9);
    padding: 2px 10px;
    border-radius: 8px;
    font-size: 22px;
    font-weight: 200;
    cursor: pointer;
}

.btn:hover {
    background-image: linear-gradient(rgb(34, 92, 29), rgb(13, 24, 12));
    transition-duration: 0.2s;
    text-align: center;
    font-size: 22px;
    font-weight: 200;
    color: rgb(0, 255, 55);
    box-shadow: 0 4px rgba(22,32,32,.9);
    transform: translateY(4px);
}

.btn:active {
  background-color: #495549;
  color: rgb(0, 255, 42);
  }

.btn-b {
    border: 1px solid rgb(0, 255, 55);
    color: rgb(234, 254, 254);
    background-image: linear-gradient(rgb(112, 151, 108), rgb(29, 40, 29));
    box-shadow: 0 8px rgba(12,12,12,.9);
    float: right;
    padding: 2px 10px;
    border-radius: 8px;
    font-size: 22px;
    font-weight: 200;
    cursor: pointer;
}

.btn-b:hover {
    background-image: linear-gradient(rgb(34, 92, 29), rgb(13, 24, 12));
    transition-duration: 0.2s;
    text-align: center;
    font-size: 22px;
    font-weight: 200;
    color: rgb(0, 255, 55);
    box-shadow: 0 4px rgba(22,32,32,.9);
    transform: translateY(4px);
}

.btn-b:active {
    background-color: #495549;
    color: rgb(0, 255, 42);
}

h1 {
    font-family: "Iceland", Arial;
    text-align: center;
    font-weight: 600;
    font-size: 80px;
}

h2 {
    font-family: "Iceland", Arial;
    font-size: 30px;
    font-weight: 800;
    text-shadow: 3px 3px 2px #002000;
    text-align: left;
    margin: 0;
}

h3 {
    font-family: "Iceland", Arial;
    font-size: 24px;
    font-weight: 200;
    text-shadow: 3px 3px 2px #002000;
    text-align: left;
    padding: 4px;
    margin: 10px;
}

.h4 {
    font-size: 22px;
    font-weight: 300;
    color: mediumspringgreen;
}

.iceland-regular {
  font-family: "Iceland", sans-serif;
  font-weight: 100;
  font-style: normal;
}

/* unvisited link */
a:link {
  color: rgb(20, 255, 50);
  font-weight: 400;
  text-decoration: none;
}

/* visited link */
a:visited {
    font-weight: 400;
    color: rgb(50, 255, 20);
    font-weight: 400;

}

/* mouse over link */
a:hover {
    font-weight: 400;
    color: rgb(0, 255, 55);
}

/* selected link */
a:active {
    font-weight: 400;
    color: rgb(255, 255, 255);
}

.overline {
    text-decoration: overline;
}

.line-through {
    text-decoration: line-through;
}

.underline {
    text-decoration: underline;
}

.underline-overline {
    text-decoration: underline overline;
}

p {
    font-family: "Jura", Arial;
    font-weight: 100;
    font-size: 22px;
    padding: 4px;
    margin: 10px;
}

.p-a {
    font-size: 40px;
    font-weight:100;
    text-align: center;
}

.p-b {
    font-family: "Jura", Arial;
    font-weight: 100;
    font-size: 16px;
    padding: 4px;
    margin: 10px;
    text-align: justify;
}

.p-c {
    font-family: "Jura", Arial;
    font-weight: 100;
    font-size: 12px;
    padding: 4px;
    margin: 10px;
    text-align: justify;
}

.para {
    font-family: "Iceland", Arial;
    font-weight: 100;
    font-size: 18px;
}

.oddshape {
    border-radius: 10px;
}

hr{border-top: 20px solid #000;}

.shape-red {
    background: url('images/shape.svg');
    width: 240px;
    height: 200px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 20px;
    margin: 30px;
}

.block-red {
    background: linear-gradient(129deg,rgba(88, 22, 77, .0) 0%, rgba(98, 32, 87, .2) 50%, rgba(88, 22, 77, .0) 100%);
    width: 200px;
    height: 60px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 20px;
    margin: 30px;
}

.block-green {
    background: linear-gradient(129deg,rgba(22, 88, 77, .0) 0%, rgba(32, 98, 87, .2) 50%, rgba(22, 88, 77, .0) 100%);
    width: 240px;
    height: 200px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 20px;
    margin: 30px;
}

.block-blue {
    background: linear-gradient(129deg,rgba(22, 77, 88, .0) 0%, rgba(32, 87, 98, .2) 50%, rgba(22, 77, 88, .0) 100%);
    width: 240px;
    height: 200px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 20px;
    margin: 30px;
}

.shape-red:hover {
    background: url('images/shape.svg');
    width: 240px;
    height: 200px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 20px;
    transition: all 0.5s ease;
    transform: translateY(4px);
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(255, 0, 42, .7);
}

.block-red:hover {
    background: linear-gradient(129deg,rgba(88, 22, 77, .2) 0%, rgba(88, 22, 77, .4) 50%, rgba(88, 22, 77, .2) 100%);
    width: 200px;
    height: 62px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 20px;
    transition: all 0.5s ease;
    transform: translateY(4px);
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(255, 0, 42, .7);
}

.block-green:hover {
    background: linear-gradient(129deg,rgba(22, 88, 77, .2) 0%, rgba(22, 88, 77, .4) 50%, rgba(22, 88, 77, .2) 100%);
    width: 240px;
    height: 200px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 20px;
    transition: all 0.5s ease;
    transform: translateY(4px);
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 255, 42, .7);
}

.block-blue:hover {
    background: linear-gradient(129deg,rgba(22, 77, 88, .2) 0%, rgba(22, 77, 88, .4) 50%, rgba(22, 77, 88, .2) 100%);
    width: 240px;
    height: 200px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    position: relative;
    border-radius: 20px;
    transition: all 0.5s ease;
    transform: translateY(4px);
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0, 42, 255, .7);
}

.holographic-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
    background: #000;
    margin-top: 20px;
    margin-bottom: 20px;
}

.holographic-container-b {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300;
    background: rgb(244,248,254);
    margin-top: 20px;
    margin-bottom: 20px;
}

.holographic-card {
    width: 300px;
    height: 200px;
    background: linear-gradient(129deg,rgba(30, 31, 30, .0) 0%, rgba(40, 41, 40, .0) 50%, rgba(30, 31, 31, .0) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    overflow: hidden;
    border-radius: 15px;
    transition: all 0.5s ease;
    margin: 30px;
}

.holographic-card h2 {
    color: #0ff;
    font-size: 2rem;
    position: relative;
    z-index: 2;
}

.holographic-card::before {
    content: '';
    position: absolute;
    top: -50%;
    left: -50%;
    width: 200%;
    height: 200%;
    background: linear-gradient( 0deg, transparent, transparent 30%, rgba(0,255,200,0.3) );
    transform: rotate(-45deg);
    transition: all 0.5s ease;
    opacity: 0;

}

.holographic-card:hover {
    transform: scale(1.05);
    box-shadow: 0 0 20px rgba(0,255,200,0.3);
}

.holographic-card:hover::before {
    opacity: .6;
    transform: rotate(-45deg) translateY(100%);
}

* {
    /* Reset browser's padding and margin */
    margin: 30;
    padding: 30;
    box-sizing: border-box;
}

input[type=text] {
    border: 2px solid green;
    border-radius: 4px;
}

.section-a {
    background-color: rgb(30, 31, 30);
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    font-size: 50px;
    text-align: center;
    color: white;
    width: 100%;
    height: 400px;
    margin: 0;
    padding: 0;
}

    .section-a:hover {
        background-color: rgb(30, 31, 30);
        color: black;
        transition: all 1.0s ease;
        text-shadow: 0 0 5px #00dd00;
    }

.p-a {
    text-align: center;
}

.in-a {
    font-size: 16px;
    padding: 6px;
    border-width: 4px;
    border-color: lime;
    border-radius: 12px;
    margin: 4px;
}

* {
    box-sizing: border-box;
}

/* Container for flexboxes */
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* Create four equal columns */
.column {
    background-color: rgba(30, 31, 30, .6);
    flex: 20%;
    border-style: solid;
    border-width: 2px;
    border-color: white;
    border-radius: 8px;
    padding: 20px;
    margin: 0px 20px 20px 20px;
}

.column:hover {
    background-color: rgba(34, 35, 34, .8);
    background-blend-mode: lighten;
    border-radius: 10px;
}

/* On screens that are 992px wide or less, go from four columns to two columns */
@media screen and (max-width: 992px) {
    .column {
        background-color: rgb(31, 31, 30);
        flex: 50%;
    }
}

/* On screens that are 600px wide or less, make the columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
    .row {
        flex-direction: column;
    }
